/*
 * Globals
 */

body {
  font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

h2 {
  font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 400;
  color: #555;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* Navbar */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {

  background-color: #f8f8f8;
}

.navbar-brand {
  font-family: 'Lato',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  text-transform: lowercase;
  font-weight: 100;
  letter-spacing: -1px;
}

.navbar-default .navbar-brand {
  color: #555;
}

.navbar-default .navbar-nav>li:first-child>a,
.navbar-default .navbar-nav>li:first-child>a:hover, 
.navbar-default .navbar-nav>li:first-child>a:focus  {
  color: #e74c3c;
}

.navbar-default .navbar-nav>li:nth-child(2)>a, 
.navbar-default .navbar-nav>li:nth-child(2)>a:hover, 
.navbar-default .navbar-nav>li:nth-child(2)>a:focus  {
  color: #2ecc71;
}

.navbar-default .navbar-nav>li:nth-child(3)>a,
.navbar-default .navbar-nav>li:nth-child(3)>a:hover, 
.navbar-default .navbar-nav>li:nth-child(3)>a:focus  {
  color: #3498db;
}

.navbar-default .navbar-nav>li:nth-child(4)>a,
.navbar-default .navbar-nav>li:nth-child(4)>a:hover, 
.navbar-default .navbar-nav>li:nth-child(4)>a:focus  {
  color: #f39c12;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li.active>a  {
  border-bottom: 3px solid;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav>li>a {
  font-weight: 700;
}

/* blog container */
#blog-page {
  padding-top: 30px;
}

/*********** Prove colori header

#blog-page .blog-post:first-child h2.blog-post-title {
  color: #e74c3c;
}

#blog-page .blog-post:nth-child(2) h2.blog-post-title {
  color: #3498db;
}

#blog-page .blog-post:nth-child(3) h2.blog-post-title {
  color: #2ecc71;
}

********************/


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
#subscribe-box p {
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  font-size: 14.5px;
  font-weight: 500;
}

#subscribe-box .form-group {
  margin-top: 15px;
}

#subscribe-box {
  padding: 15px 19px;
}

#subscribe-box .btn-warning {
  background-color: #f39c12;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

#subscribe-box .btn-warning:hover {
  background-color: #f0ad4e
}

#subscribe-box h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #666;
  text-align: justify;
  font-weight: 700;

}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 5px dashed #e74c3c;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

#post-box {
  border: 3px solid #efefef;
  padding: 0;
  border-top: 0px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-top: 30px;
}

#post-box ol {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0;
}

#post-box h4 {
  background-color: #efefef;
  text-align: center;
  text-transform: uppercase;
  color: #555;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 12px;
  margin: 0;
  font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#post-box li {
  font-size: 15px;
  line-height: 20px;
  padding: 12px;
  border-bottom: 3px solid #efefef;
  min-height: 60px;
}

#post-box li:last-child {
  border-bottom: 0;
}

#post-box a {
  color: #555;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.blog-main img {
  max-width: 100%;
  margin-bottom: 30px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.blog-sidebar {
  padding-left: 30px;
}

.blog-post-title a{
  color:#555;
}

.blog-post-title a:hover {
  color: #428bca;
}

.blog-post-meta {
  margin-bottom: 20px;
  color: #aaa;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.blog-post-meta .btn-danger {
  background-color: #e74c3c;
  padding: 3px 5px;
  margin-right: 7px;
  text-transform: uppercase;
  font-weight: 300;
}

.blog-post-meta .btn-danger:hover {
  background-color: #d2322d;
}

/*
 * Share buttons
 */
#share-buttons img {
  width: 55px;
  border: 0;
  box-shadow: 0;
  display: inline;
  vertical-align: top; 
  margin-bottom: 0;
}

#share-buttons p {
  font-size: 40px;
  font-weight: 700;

}

/*
 * About & parte Home
 */
#about img, #home-top img {
  width: 100%;
  border-radius: 79px;
  -moz-border-radius: 79px;
  -webkit-border-radius: 79px;
  height: auto;
  margin-bottom: 20px;
  margin-right: 30px; 
}

#about p {
  clear: left;
  padding-top: 8px;
  font-weight: 300;
  font-size: 18px;
}

#about h1 {
  color: #e74c3c;
  font-family: 'Open Sans';
  font-weight: 300;
}

/*
 * Home
 */  
 #home-top p {
  padding-top: 0px;
 } 

 #first-paragraph-home {
  padding-top: 50px;
 } 

 #home-top {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/background.jpg);
 }

 #home-top h1 {
  font-weight: 500;
 }

 #home-top .btn {
  font-size: 25px;
 }

 #home-top input.form-control {
  height: 50px;
  font-size: 25px;
 }

/*
 * Portfolio
 */
.example {
  background-color: #eee;
  float: left;
  width: 33.3333333%;
  border: 1px solid;
  height: 300px;
}

.example-2 {
  width: 33.3333333%;
  float: left;
}

.example-2 img {
  max-width: 98%;
  margin: 1%;
}

.inner-example {
  background-color: #eee;
  margin: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 3px 1px #999;
  -moz-box-shadow: 0 1px 1px #999;
  -webkit-box-shadow: 0 1px 1px #999;
}

.inner-example h3 {
  font-size: 20px;
  border-bottom: 1px solid black;
  margin: 5px;
}

.inner-example p {
  padding: 5px;
  font-weight: 600;
}

.row-example:after {
  clear: both;
  content: " ";
  display: table;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.sticky-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}


/* Site-wide styling */
.center {
  text-align: center;
}

.clear {
  clear: both;
}

/* Responsive design */
@media (max-width: 991px) {

    #subscribe-box h4 {
      text-align: center;
    }

}

@media (max-width: 767px) {

    .blog-post h2 {
      font-size: 22px;
    }

    .blog-post h3 {
      font-size: 16px;
    }

    .blog-post p {
      font-size: 13px;
    }

    .blog-post ul, .blog-post ol {
      font-size: 13px;
    }

    .xs-center, #about h1 {
      text-align: center;
    }

    .xs-center img {
      max-width: 40%;
    }

    .sticky-footer {
      position: static;
    }
}

.example-2 {
  overflow: hidden;
}

.example-2:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: all 0.3s ease;
}

.example-2 img {
  transition: all 0.3s ease;
}
